language: node_js

node_js:
  - "8.11.3"

install: 
  - yarn

script: 
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
