.post-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  .post-title {
    font-size: 30px;
  }
  .post-date {
    margin-left: 10px;
    color: #afbd20;
  }
  .post-tag {
    color: fade(#52a260, 60);
    a {
      margin-left: 10px;
      color: inherit;
      text-decoration: none;
      &:hover {
        color: #52a260;
      }
    }
  }
  .markdown-body {
    margin: 30px auto 50px;
  }
}