.home-page-container {
  background: #52a260;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.home-page {
  text-align: center;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  .home-title {
    font-size: 35px;
    margin-bottom: 50px;
    .press-start-2p-svg {
      padding: 1px 2px;
      width: 35px;
      height: 35px;
    }
  }
  .mashroom-container {
    width: 220px;
    margin: 0 auto 50px;
    position: relative;
    overflow: hidden;
  }
  .operations {
    margin-top: 30px;
    a {
      color: white;
      text-decoration: none;
      margin: 0 20px;
    }
    .press-start-2p-svg {
      padding: 1px 1px;
      width: 15px;
      height: 15px;
    }
  }
}

@media (max-width: 480px) {
  .home-page {
    .home-title {
      .press-start-2p-svg {
        width: 30px;
        height: 30px;
      }
    }
    .mashroom-container {
      display: none;
    }
  }
}