html {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  color: #373737;
}

.indie-flow-text {
  font-family: 'Indie Flower', "Helvetica Neue";
}

.game-text {
  font-family: 'Press Start 2P', "Helvetica Neue";
}

.container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  &.with-header {
    top: 50px;
  }
}
